*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(background-image.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
li{
    list-style: none;
    display: inline-block;
}
.link a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 16px 32px;
}
.logo{
    padding: 8px;
}
.hello{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
}
button{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
@media screen and(max-width: 768px){
    .hello{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 20px;
    }
    .hello h1{
        font-size: 15px;
    }
}